# Telegram
TELEGRAM_BOT_API_KEY="YOUR_KEY"
USER_TELEGRAM_ID="YOUR_TELEGRAM_ID"

# Openroter
OPEN_ROUTER_API_KEY="YOUR_TOKEN"
OPEN_ROUTER_BASE_URL="https://openrouter.ai/api/v1"

# Opencode
OPEN_CODE_BASE_URL="http://127.0.0.1:4096"

# Groq
GROQ_BASE_URL="https://api.groq.com/openai/v1"
GROQ_API_KEY="YOUR_KEY"

# Models
OCR_MODEL="qwen/qwen3-vl-8b-instruct"
AUDIO_MODEL="whisper-large-v3"
JARVIS_MODEL="mimo-v2.5-free"

# Working
DOWNLOAD_DIR="/path/to/directory"
